<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="nav-top">
        <a href="{{ url_for('logout') }}"><button class="exit-btn">Logout</button></a>
    </nav>

    <div id="searchPage"
     class="{{ 'search-side' if results is not none else 'search-top' }}">

    <div class="search-box">
        <h3>What book are you looking for?</h3>

        <form method="POST" action="{{ url_for('search') }}">
            <input type="text" name="query"
                   placeholder="Search by ISBN, title, or author" required>
            <button type="submit">Search</button>
        </form>
    </div>

    {% if searched %}
    <div class="results">
        {% if results %}
            <ul>
                {% for book in results %}
                    <li>
                        <a href="{{ url_for('book_page', isbn=book.isbn) }}">
                            <strong>{{ book.title }}</strong>
                        </a><br>
                        Author: {{ book.author }}<br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No matching books found. Try again</p>
        {% endif %}
    </div>
    {% endif %}


    </div>

</body>
</html>
